Repository PsclDev/job-application-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: updated to newest submodule
  src/module/application/application.module.ts
  src/module/application/application.resolver.ts
  src/module/application/application.service.ts
  src/module/application/application.types.ts
  src/module/meeting/meeting.entity.ts
  src/module/meeting/meeting.types.ts
  src/module/status/status.service.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

chore: updated postman collection
  Job-Application.postman_collection.json
Due: prettier --write --list-different ., prettier --check .

feat: cascade delete, global and group files, naming strategy
  package.json
  src/app.module.ts
  src/module/application/application.entity.ts
  src/module/file/file.entity.ts
  src/module/group/group.entity.ts
  src/module/group/group.types.ts
  src/module/meeting/meeting.entity.ts
  src/module/person/person.types.ts
  src/module/status/status.entity.ts
  yarn.lock
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

fix: person validator
  src/module/person/person.types.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: get files without data and file by id
  Job-Application.postman_collection.json
  src/module/file/file.resolver.ts
  src/module/file/file.service.ts
  src/util/excludeColumns.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: get file upload options
  ..EXAMPLE_.env
  src/config/config.service.ts
  src/main.ts
  src/module/file/allowedExtensions.ts
  src/module/file/file.resolver.ts
  src/module/file/file.service.ts
  src/module/file/file.types.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: enhanced file upload context
  Job-Application.postman_collection.json
  src/module/file/file.types.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: file update and delete
  Job-Application.postman_collection.json
  src/module/file/file.resolver.ts
  src/module/file/file.service.ts
  src/module/file/file.types.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: serve files
  ..EXAMPLE_.env
  Job-Application.postman_collection.json
  package.json
  src/app.module.ts
  src/config/config.service.ts
  src/module/file/file.resolver.ts
  src/module/file/file.service.ts
  yarn.lock
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

chore: enhanced validations
  src/module/application/application.types.ts
  src/module/meeting/meeting.types.ts
  src/module/person/person.types.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: all meetings
  Job-Application.postman_collection.json
  src/module/meeting/meeting.resolver.ts
  src/module/meeting/meeting.service.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

fix: application update
  src/module/application/application.types.ts
  src/module/status/status.service.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: update notes mutations
  src/module/application/application.resolver.ts
  src/module/application/application.service.ts
  src/module/application/application.types.ts
  src/module/meeting/meeting.resolver.ts
  src/module/meeting/meeting.service.ts
  src/module/status/status.service.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

chore: small improvements
  src/config/config.service.ts
  src/module/application/application.resolver.ts
  src/module/application/application.types.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: migrations and postman collection
  Job-Application.postman_collection.json
  src/migrations/1667084374359-InitialMigration.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

chore: production adjustments
  ..EXAMPLE_.env
  .github/workflows/pipeline.yml
  .gitmodules
  .releaserc
  Dockerfile
  Dockerfile.shell
  README.md
  docker-compose.shell.yml
  package.json
  src/config/config.service.ts
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

feat: image size optimizations
  ..EXAMPLE.env
  .github/workflows/pipeline.yml
  Dockerfile
  package.json
  src/app.module.ts
  src/config/config.service.ts
  yarn.lock
Due: eslint --ext ".js,.ts" --fix ., prettier --write --list-different ., eslint --ext ".js,.ts" --ignore-path .gitignore ., prettier --check .

chore: removed tests in pipeline
  .github/workflows/pipeline.yml
Due: none

Notes added by 'git notes add'
  d68ccffa12f322a5d1bcfbb2ddfefcc3af467c4e
Due: none

Notes added by 'git notes add'
  cf1cb6b5355357e94a549414e053aa128de75749
Due: none

Notes added by 'git notes add'
  14f4e96816b35e21ad1baba1d8cb7f02bbf40bca
Due: none

Notes added by 'git notes add'
  e5aee8d94ae80680432128c5fdc3d66d68681101
Due: none

Notes added by 'git notes add'
  02514f6135a4fb79f4aed05954919e98bb86add9
Due: none

Notes added by 'git notes add'
  b0d7e417573524757dd8757d0581897be6c22a19
Due: none

Notes added by 'git notes add'
  81a0ef2485b47ca02ade32d40ef6703d98923953
Due: none

chore: fix pipeline
  .github/workflows/pipeline.yml
Due: none

Notes added by 'git notes add'
  f18c769664aa641fd7fa0ca5fd88201c63fce170
Due: none

Notes added by 'git notes add'
  76ab1e0ec6e64f0bc79c4648bf2d7d99d0871c5e
Due: none

Notes added by 'git notes add'
  a87350cf26af40c00de4aaf72230ebe1e65b235b
Due: none

Notes added by 'git notes add'
  cceac2a2f762abfe63e72f3140c7760f801d0a2b
Due: none

chore: pipeline test
  .github/workflows/pipeline.yml
Due: none

Notes added by 'git notes add'
  48db343d705c90fe5560fa953a8c13c29727bdb2
Due: none

Path conditions:
  eslint --ext ".js,.ts" --fix .: any of: **/*.{ts,js}
  prettier --write --list-different .: (any of: **/*.{ts,js}) or (any of: **/*.json)
  eslint --ext ".js,.ts" --ignore-path .gitignore .: any of: **/*.{ts,js}
  prettier --check .: (any of: **/*.{ts,js}) or (any of: **/*.json)
